@model IEnumerable<StoreModels.CategoryModel>

@{
    ViewData["Title"] = "Categories of Products";
}

<h1>Categories of Products</h1>

<div class="float-left">
<p>
    <form method="post" asp-action="Create">
       
        <label>Name:</label><br />
        <input type="text" name="Name" required oninvalid="this.setCustomValidity('Please Enter Name ')"  oninput="setCustomValidity('')" /><br /><br />

        <input type="submit" value="Add category" class="btn btn-primary" />
    </form>
</p>
</div>
<div class="float-right">
    <table class="table">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a>

                        <a asp-action="Delete" asp-route-ID="@item.ID" class="btn btn-primary">Delete</a>


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
