@model IEnumerable<StoreModels.ProductModel>



@{
    ViewData["Title"] = "Index";
}

<h1>Products of Store</h1>
<div class="float-left">
    <p>
        <form method="post" asp-action="Create" >

            <label>Name:</label><br />
            <input type="text" name="Name" required oninvalid="this.setCustomValidity('Please Enter Name ')"  oninput="setCustomValidity('')"/><br /><br />
           
            <label>Price:</label><br />
            <input type="number" name="Price"  required oninvalid="this.setCustomValidity('Please Enter Price')" oninput="setCustomValidity('')"/><br /><br />
          
            <label> Category: </label><br />
            @*@Html.DropDownList("CategoryId",new SelectList((List<StoreModels.CategoryModel>)ViewData["CategoryList"],"ID","Name"),"Select")*@
            @*@Html.DropDownList("ID", new SelectList(ViewBag.CategoryNames, "ID", "Name"))*@
            <select name="CategoryId" required oninvalid="this.setCustomValidity('Please select Category')"  oninput="setCustomValidity('')">
                <option></option>
                @foreach (var item in (List<StoreModels.CategoryModel>)ViewData["CategoryList"])
                {
                    <option value="@item.ID">@item.Name</option>
                }
            </select>
            <br />
            <br />
            <input type="submit" value="Add product" class="btn btn-primary" />
        </form>
    </p>
</div>
<div class="float-right">

    @*<form asp-action="Asc" asp-route-id="MovieType"
          method="post">

        <fieldset>
            Movie Type
            <select id="MovieType" name="MovieType">

                <option value=""></option>

                <option value="0">Action</option>

                <option value="1">Drama</option>

                <option selected="selected" value="2">Comedy</option>

                <option value="3">Science Fiction</option>

            </select>

            <p><input type="submit" value="Submit" /> </p>

        </fieldset>*@

    @*</form>*@
    @*<form id="ok" action="post"  >
            <label for="cars">Choose a car:</label>
            <select name="cars" id="cars" form="ok">
                <option value="1" formaction="Asc" >Low to high</option>
                <option value="2" formaction="DESC">Hight to Low</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form>*@
    <table class="table">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayName("Category")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a>

                        <a asp-action="Delete" asp-route-ID="@item.ID" class="btn btn-primary">Delete</a>


                    </td>
                </tr>
            }


        </tbody>
    </table>
    @*<a asp-action="Count" class="btn btn-primary">Count</a>
        <a asp-action="Asc" class="btn btn-primary">Asc</a>*@
</div>
